@custom-media --up_to_M screen and (max-width: 699px);
@custom-media --up_to_L screen and (max-width: 1099px);
@custom-media --M_to_L screen and (min-width: 700px) and (max-width: 1099px);
@custom-media --M_and_up screen and (min-width: 700px);
@custom-media --L_and_up screen and (min-width: 1100px);

:root {
  --color-white: #fff;
  --color-pale: #EAE9DF;
  --color-beige: #E0D1AE;
  --color-pink: #F54073;
  --color-green: #408566;
  --color-mud: #425134;
  --color-red: #BC4531;
  --color-yellow: #FEB44D;
  --color-orange: #F88D5F;
  --color-blue: #386475;
  --color-greygreen: #CCD0A5;
  --color-teal: #749386;
  --color-tungsten: #311F28;
  --color-evergreen: #0E2B28;
  --color-darkgreen: #123636;

  --color-body-text: var(--color-tungsten);
  --color-body-bg: var(--color-beige);

  --space-m: 10px;
  --space-l: 1.8rem;
  --space-xl: 40px;
  --space-xxl: 5rem;

  --transition-duration-fast: 0.25s;
  --transition-duration-medium: 0.75s;
  --transition-duration-slow: 1.5s;

  --font-family-head: 'Young Serif', serif;
  --font-family-base: 'Source Code Pro', monospace;

  --font-weight-medium: 500;

  --font-size-title: 7.5rem;
  --font-size-subtitle: 1.4rem;
  --font-size-head: 3.4rem;
  --font-size-subhead: 1.4rem;
  --font-size-nav: 2.7rem;
  --font-size-base: 18px;
}
