mixin nav(current)
  nav
    if current === 1
      span Volume 1
    else
      a(href="/volume-1-bitcoin-mining/") Volume 1

    if current === 2
      span Volume 2
    else
      a(href="/volume-2-bitcoin-security/") Volume 2
