@font-face {
  font-family: 'Source Code Pro';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/source-code-pro-v13-latin-500.woff2') format('woff2'),
    url('/fonts/source-code-pro-v13-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/source-code-pro-v13-latin-500italic.woff2') format('woff2'),
    url('/fonts/source-code-pro-v13-latin-500italic.woff') format('woff');
}

@font-face {
  font-family: 'Young Serif';
  font-weight: 500;
  src: url('/fonts/young-serif-regular.woff2') format('woff2'),
    url('/fonts/young-serif-regular.woff') format('woff');
}

#Hero,
#End {
  height: 100vh;
}

.text-center {
  text-align: center;
}

.sprites {
  display: flex;
  justify-content: center;
}

.sprite-large {
  display: none;
}

.sprite-small {
  display: block;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

p {
  margin-bottom: 32px;
}

.section {
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section.intro {
  position: relative;
  background-color: #e4d7bd;
  background-image: url('/img/security/hero-bg-mobile.png');
  background-position: top;
  background-size: 1040px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.section.jump-list {
  background-color: #13514c;
  background-image: url('/img/security/shortcut-bg.png');
  background-position: 50% 20%;
  background-size: 900px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: #ece8d8;
}

.section.hackersaurus {
  background-color: #272727;
  background-image: url('/img/security/hacker-plant.png'),
    url('/img/security/hacker-bg.png');
  background-position: 10% 100%, 6% 14%;
  background-size: 236px, 668px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: #b4bbbd;
}

.section.hedgefundhog {
  background-color: #ceb776;
  background-image: url('/img/security/hedgefundhog-bg.png');
  background-position: 50% 0%;
  background-size: 1360px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: #262e2e;
}

.section.scamera {
  background-color: #5b574d;
  background-image: url('/img/security/scamera-bg.png');
  background-position: 30% 30%;
  background-size: 1280px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: #f5e7cc;
}

.section.iron-legislator {
  position: relative;
  background-color: #312d25;
  background-image: url('/img/security/legislator-bg.png');
  background-size: 1280px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: #f8e1b0;
}

.section.mt {
  position: relative;
  background-color: #9d9680;
  background-image: url('/img/security/mt-bg.png');
  background-size: 1280px;
  background-position: 30% 0%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.mt-body {
  color: #0b0b0a;
}

.section.spot {
  position: relative;
  background-color: #3d555b;
  background-image: url('/img/security/spot-bg.png');
  background-position: -10% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: #e0ffe9;
}

.section.end {
  position: relative;
  background-color: #ece8d8;
  background-image: url('/img/security/end-bg.png');
  background-position: 60% 50%;
  background-size: 1240px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.block-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid.left-image {
  -ms-grid-columns: 1.5fr 1fr;
  grid-template-columns: 1.5fr 1fr;
}

#intro-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#intro-text {
  width: 40%;
}

.content.centered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content.left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content.index {
  text-align: center;
}

.body {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 1.188rem;
  line-height: 1.688rem;
}

.image {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.image-2 {
  position: absolute;
  left: 19%;
  top: auto;
  right: auto;
  bottom: 0%;
}

.image-3 {
  position: absolute;
  left: auto;
  top: auto;
  right: 14%;
  bottom: 0%;
}

.button {
  padding: 1.2rem 1.5rem;
  background-color: #e24f30;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

.large {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: 'Young Serif', sans-serif;
  color: #272727;
  font-size: 122px;
  line-height: 6.5rem;
  text-align: center;
}

.subheading {
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}

.subheading.orange {
  color: #e24f30;
}

.subheading.e24f30 {
  color: #e24f30;
}

.subheading._13514c {
  color: #13514c;
}

.section-title {
  margin-bottom: 2rem;
  font-family: 'Young Serif', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}

.section-title.292320 {
  color: #292320;
}

.section-title.e58918 {
  color: #e58918;
}

.section-title.ffdd8e {
  color: #ffdd8e;
}

.section-title._13514c {
  color: #13514c;
}

.section-title.e8ffb6 {
  color: #e8ffb6;
}

.section-title.ffc48e {
  color: #ffc48e;
}

.section-title.f65d3d {
  color: #f65d3d;
}

.quote {
  margin-bottom: 2.5rem;
}

.quote.ffc48e {
  color: #ffc48e;
}

.quote.e8ffb6 {
  color: #e8ffb6;
}

.quote.292320 {
  color: #292320;
}

.quote.e58918 {
  color: #e58918;
}

.quote.ffdd8e {
  color: #ffdd8e;
}

.quote._13514c {
  color: #13514c;
}

.quote.f65d3d {
  color: #f65d3d;
}

.index-link {
  font-family: 'Young Serif', sans-serif;
  color: #ffc48e;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.25s;
}

.index-link:hover {
  color: #ff7659;
}

.index-item {
  padding-bottom: 1rem;
}

.nav-link {
  margin-left: 40px;
  color: #272727;
  text-decoration: none;
  padding-bottom: 4px;
  font-size: 18px;
}

.nav-link:hover {
  color: #ff7659;
  border-bottom: 3px solid #ff7659;
}

.nav {
  position: absolute;
  left: auto;
  top: 3%;
  right: 3%;
  bottom: auto;
}

@media screen and (min-width: 1280px) {
  .section.intro {
    background-size: 1200px;
  }

  .block-content {
    width: 1140px;
  }

  .large {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .section-title {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  .index-link {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media screen and (min-width: 1920px) {
  .sprite-large {
    display: block;
  }

  .sprite-small {
    display: none;
  }

  #w-node-b6c3bb04-2c18-a959-44a2-b0473805674d-d7b166ec {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  .section.intro {
    min-height: 100vh;
    background-size: 1720px;
  }

  .section.end {
    min-height: 1200px;
    background-size: 1600px;
  }

  .block-content {
    width: 1440px;
  }

  .button:hover {
    background-color: #ee6c51;
  }

  .large {
    font-size: 135px;
    line-height: 8.5rem;
  }

  .nav-link {
    margin-left: 40px;
  }

  .section-title {
    font-size: 61px;
  }

  .section-title.myths {
    font-size: 49px;
    line-height: 49px;
  }

  .myths-list {
    font-size: 49px;
    line-height: 75px;
  }
}

@media screen and (max-width: 991px) {
  #intro-flex {
    display: block;
  }

  #intro-text {
    width: 100%;

    margin-bottom: 5rem;
  }

  .section {
    padding: 7rem 3rem;
  }

  .section.intro {
    min-height: 0px;
    padding-right: 2rem;
    padding-left: 2rem;
    background-image: url('/img/security/hero-bg-mobile.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  .section.jump-list {
    background-position: 50% 120%;
    background-size: auto;
  }

  .section.mt {
    background-position: 0% 0%;
  }

  .section.end {
    min-height: 0px;
  }

  .block-content {
    width: auto;
  }

  .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .grid.left-image {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .grid.left-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column-gap: 48px;
  }

  .content {
    width: 100%;
  }

  .large {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
  }

  .subheading {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }

  .subheading.e24f30 {
    line-height: 1.45rem;
    text-align: center;
  }

  .subheading._13514c {
    line-height: 1.4rem;
    text-align: center;
  }

  .section-title.index {
    text-align: center;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.45rem;
  }

  .section {
    padding: 7rem 1.5rem;
  }

  .section.jump-list {
    background-position: 50% 3%;
    background-size: contain;
  }

  .section.mt {
    background-size: cover;
  }

  .section.spot {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-position: 0% 0%;
    background-size: cover;
  }

  .section.end {
    min-height: auto;
    padding-top: 8rem;
    padding-bottom: 14rem;
    background-size: cover;
  }

  .block-content {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .grid {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  .grid.left-image {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  .image-2 {
    left: 9%;
    top: auto;
    right: 0%;
    bottom: 0%;
  }

  .image-3 {
    right: 0%;
    display: none;
  }

  .button {
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
  }

  .section-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .index-link {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .section.iron-legislator {
    background-size: cover;
  }
}

@media screen and (max-width: 479px) {
  .nav-link {
    margin-right: 16px;
    margin-left: 16px;
  }

  .nav {
    left: 0%;
    top: 2%;
    right: 0%;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#w-node-_9de33b4c-fd3b-24f6-2180-a4b0b0e0b26f-d7b166ec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_820e8150-b2a6-cf91-9db6-2348f7aa20f2-d7b166ec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_820e8150-b2a6-cf91-9db6-2348f7aa20fb-d7b166ec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8ce4bd31-c674-6d0d-4686-5ccc5e327045-d7b166ec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8ce4bd31-c674-6d0d-4686-5ccc5e32703c-d7b166ec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0ad24908-d31f-744c-6165-f69992c7313c-d7b166ec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_0ad24908-d31f-744c-6165-f69992c73145-d7b166ec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_93d2193a-0866-8bf3-aaf0-bcc46fcba2e9-d7b166ec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_93d2193a-0866-8bf3-aaf0-bcc46fcba2eb-d7b166ec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b6c3bb04-2c18-a959-44a2-b04738056744-d7b166ec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-b6c3bb04-2c18-a959-44a2-b0473805674d-d7b166ec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_828255a3-492f-58e1-290a-a4c5fbc844a7-d7b166ec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_828255a3-492f-58e1-290a-a4c5fbc844a9-d7b166ec {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}
