* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  line-height: 1.8;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--color-body-text);
  background-color: var(--color-body-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-head);
  font-weight: var(--font-weight-medium);
  line-height: 1;

  & a {
    color: currentColor;
    text-decoration: none !important;
  }
}

a {
  outline: 0;
  color: inherit;
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--transition-duration-fast);

  & svg {
    transition-property: background, color;
    transition-duration: var(--transition-duration-fast);
  }
}

img:-moz-loading {
  visibility: hidden;
}

[aria-hidden="true"] {
  display: none;
}
