/* https://google-webfonts-helper.herokuapp.com/fonts/source-code-pro?subsets=latin */
@font-face {
  font-family: 'Source Code Pro';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/source-code-pro-v13-latin-500.woff2') format('woff2'),
       url('/fonts/source-code-pro-v13-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/source-code-pro-v13-latin-500italic.woff2') format('woff2'),
       url('/fonts/source-code-pro-v13-latin-500italic.woff') format('woff');
}

@font-face {
  font-family: 'Young Serif';
  font-weight: 500;
  src: url('/fonts/young-serif-regular.woff2') format('woff2'),
       url('/fonts/young-serif-regular.woff') format('woff');
}
