:root {
  --space-xs: .25rem;
  --space-s: .5rem;
  --space-m: 1rem;
  --space-l: 1.8rem;
  --space-xl: 3rem;
  --space-xxl: 5rem;

  --transition-duration-fast: 0.25s;
  --transition-duration-medium: 0.75s;
  --transition-duration-slow: 1.5s;

  --font-family-head: 'Young Serif', serif;
  --font-family-base: 'Source Code Pro', monospace;

  --font-weight-medium: 500;

  @media (--up_to_M) {
    --font-size-base: 13px;
    --font-size-title: 5rem;
    --font-size-subtitle: 1rem;
    --font-size-head: 2.8rem;
    --font-size-subhead: 1.4rem;
    --font-size-nav: 2rem;
  }
  @media (--M_to_L) {
    --font-size-base: 15px;
    --font-size-title: 7rem;
    --font-size-subtitle: 1.4rem;
    --font-size-head: 3.4rem;
    --font-size-subhead: 1.4rem;
    --font-size-nav: 2.7rem;
  }
  @media (--L_and_up) {
    --font-size-base: 16px;
    --font-size-title: 7.5rem;
    --font-size-subtitle: 1.4rem;
    --font-size-head: 3.4rem;
    --font-size-subhead: 1.4rem;
    --font-size-nav: 2.7rem;
  }
  @media (--XL_and_up) {
    --font-size-base: 18px;
  }
}
