main {
  position: relative;
  display: grid;

  @media (--up_to_L) {
    grid-template-areas:
      "title-1"
      "intro-1"
      "intro-2"
      "scale-a-manders-1"
      "scale-a-manders-2"
      "green-giants-1"
      "green-giants-2"
      "warewolves-1"
      "warewolves-2"
      "ent-a-cops-1"
      "ent-a-cops-2"
      "ampires-1"
      "ampires-2"
      "fiat-fairies-1"
      "fiat-fairies-2"
      "end-1";
  }
  @media (--L_and_up) {
    grid-template-areas:
      "title-1 title-1"
      "intro-1 intro-2"
      "scale-a-manders-1 scale-a-manders-2"
      "green-giants-2 green-giants-1"
      "warewolves-1 warewolves-2"
      "ent-a-cops-2 ent-a-cops-1"
      "ampires-1 ampires-2"
      "fiat-fairies-2 fiat-fairies-1"
      "end-1 end-1";
  }
}

/* text page */
article {
  display: flex;
  min-height: 100vh;
  align-items: center;
  color: var(--color-text);
  background-color: var(--color-bg);
  background-position: 50%;
  background-repeat: no-repeat;

  @media (--up_to_M) {
    --bg-scale: .675;
  }
  @media (--M_to_L) {
    --bg-scale: .85;
  }
  @media (--L_and_up) {
    --bg-scale: 1;
  }

  /* text container */
  & .wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 820px;
    max-height: 1000px;
    padding: var(--space-l);
    background-repeat: no-repeat;

    /* page number, displayed via `content` */
    &::after {
      position: absolute;
      bottom: -6rem;
      left: 49%;
      font-family: var(--font-family-head);
    }
  }

  & .content {
    position: relative;
    background-repeat: no-repeat;
    max-width: 33rem;
  }

  & .glyph {
    position: relative;
    display: block;
    margin: 0 auto var(--space-l);
  }

  & h2 {
    text-align: center;
    margin-bottom: var(--space-l);
    font-size: var(--font-size-head);

    & small {
      display: block;
      margin-bottom: .2rem;
      text-transform: uppercase;
      font-size: var(--font-size-subhead);
    }
  }

  & h2,
  & em {
    color: var(--color-lead);
  }

  & p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--space-l);
  }
}

/* image page */
figure {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: var(--space-l);
  color: var(--color-text);
  background-color: var(--color-bg);

  & img {
    display: block;
    max-height: 95%;
    max-width: 95%;
  }
}

article,
figure {
  position: absolute !important;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  transition: opacity .5s;
  height: 100vh;

  &.page-1,
  &.page-2 {
    @media (--up_to_L) {
      width: 100vw;
    }
    @media (--L_and_up) {
      width: 50vw;
    }
  }

  /* show title when there is no target */
  &#title-1 {
    opacity: 1;
    z-index: 1;
  }
  /* if there is a target hide title */
  &:target ~ #title-1 {
    opacity: 0;
    z-index: 0;
  }
  /* always display selected target */
  &:target {
    opacity: 1;
    z-index: 2;
  }

  @media (--L_and_up) {
    &.page-1:target {
      left: 0;

      &.page-left .next {
        display: none;
      }

      & + .page-2 {
        opacity: 1;
        z-index: 1;
        right: 0;

        & .prev {
          display: none;
        }
      }
    }
  }

  & .prev,
  & .next {
    position: absolute;
    z-index: 10;
    padding: 10px;
    width: 80px;
    height: 60px;
    text-align: center;

    @media (--up_to_L) {
      &.nav-l {
        display: none;
      }
    }
    @media (--L_and_up) {
      &.nav-s {
        display: none;
      }
    }
  }

  & .prev {
    @media (--up_to_L) {
      top: 10px;
      left: calc(50% - 40px);
    }
    @media (--L_and_up) {
      top: calc(50% - 30px);
      left: 10px;
    }
  }

  & .next {
    @media (--up_to_L) {
      bottom: 10px;
      left: calc(50% - 40px);
    }
    @media (--L_and_up) {
      top: calc(50% - 30px);
      right: 10px;
    }
  }
}

@media (--up_to_L) {
  article,
  figure {
    justify-content: center;
  }
}
@media (--L_and_up) {
  .page-left {
    justify-content: flex-end;

    & .prev {
      display: initial !important;
    }

    & .next {
      display: none;
    }
  }
  .page-right {
    justify-content: flex-start;

    & .prev {
      display: none;
    }

    & .next {
      display: initial !important;
    }
  }
}

#title-1,
#end-1 {
  position: relative;
  overflow: hidden;
  width: 100vw;

  & .bg {
    @media (--up_to_M) {
      --scale: .5;
    }
    @media (--M_to_L) {
      --scale: 1;
    }
    @media (--L_and_up) {
      --scale: 1;
    }

    --bg-w: calc(1830px * var(--scale));
    --bg-h: calc(965px * var(--scale));
    width: var(--bg-w);
    height: var(--bg-h);
    position: absolute;
    z-index: 0;
    top: calc(50% - var(--bg-h) / 2);
    left: calc(48% - var(--bg-w) / 2);
    background-size: var(--bg-w) var(--bg-h);
    background-repeat: no-repeat;

    & .coin1,
    & .coin2,
    & .coin3,
    & .coin4 {
      position: absolute;
      width: calc(54px * var(--scale));
      height: calc(51px * var(--scale));
    }

    & .coin1 {
      left: 51%;
      top: 8%;
    }

    & .coin2 {
      left: 91.3%;
      top: 34%;
    }

    & .coin3 {
      left: 57%;
      top: 84%;
    }

    & .coin4 {
      left: 10%;
      top: 57%;
    }
  }

  & .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }

  & .title {
    font-size: var(--font-size-title);

    @media (--up_to_M) {
      margin: var(--space-xl) 0;
    }
    @media (--M_to_L) {
      margin: var(--space-xl) 0;
    }
    @media (--L_and_up) {
      margin: var(--space-xxl) 0;
    }
  }

  & .title,
  & .volume {
    color: var(--color-text);
    text-align: center;
  }

  & .prelude {
    color: var(--color-green);
    text-align: center;

    @media (--up_to_M) {
      margin-top: var(--space-xl);
    }
  }

  & .volume,
  & .prelude {
    font-size: var(--font-size-subtitle);
    text-transform: uppercase;
    line-height: 1.4;
  }
}

#title-1 {
  --color-bg: var(--color-beige);
  --color-text: var(--color-pink);

  grid-area: title-1;
}

#end-1 {
  --color-bg: var(--color-evergreen);
  --color-text: var(--color-pink);

  grid-area: end-1;
}

#intro-1 {
  --color-lead: var(--color-green);
  --color-text: var(--color-tungsten);
  --color-bg: var(--color-beige);

  grid-area: intro-1;
  background-position: 67% 90%;

  & .glyph {
    width: 2.5rem;
  }

  & .wrap {
    background-position: 49% 2%, 50% 63%;
    background-size: calc(826px * var(--bg-scale)) calc(151px * var(--bg-scale)),  calc(853px * var(--bg-scale)) calc(167px * var(--bg-scale));

    &::after {
      content: "1";
      color: var(--color-mud);
    }
  }
}

#intro-2 {
  --color-lead: var(--color-mud);
  --color-text: var(--color-mud);
  --color-bg: var(--color-beige);

  grid-area: intro-2;
  background-size: calc(790px * var(--bg-scale)) calc(774px * var(--bg-scale));
  background-position: 55% 55%;
  @media (--XL_and_up) {
    background-position: 15px 55%;
  }

  & .content {
    padding-top: 3rem;
    text-align: center;
    line-height: 1.55;

    & h2,
    & a {
      font-size: var(--font-size-nav);
      font-family: var(--font-family-head);
      font-weight: var(--font-weight-medium);
    }

    & h2 {
      margin-bottom: 3rem;
    }

    & a {
      display: block;
      color: var(--color-text);

      &:hover,
      &:focus {
        color: var(--color-pink);
      }
    }
  }
}

#scale-a-manders-1 {
  --color-lead: var(--color-red);
  --color-text: var(--color-tungsten);
  --color-bg: var(--color-beige);

  grid-area: scale-a-manders-1;
  background-size: calc(722px * var(--bg-scale)) calc(606px * var(--bg-scale));
  background-position: 50% 50%;
  @media (--XL_and_up) {
    background-position: top 50% right 50px;
  }

  @media (--up_to_M) {
    --bg-scale: .825;
  }
  @media (--M_to_L) {
    --bg-scale: .9;
  }
  @media (--L_and_up) {
    --bg-scale: 1;
  }

  & .wrap::after {
    content: "3";
    color: var(--color-green);
  }
}

#scale-a-manders-2 {
  --color-text: var(--color-tungsten);
  --color-bg: var(--color-beige);

  grid-area: scale-a-manders-2;
}

#green-giants-1 {
  --color-lead: var(--color-pink);
  --color-text: var(--color-tungsten);
  --color-bg: var(--color-beige);

  grid-area: green-giants-1;

  & .content {
    max-width: 39rem;
  }

  & .wrap {
    background-position: 85% 0;

    &::after {
      color: var(--color-blue);

      @media (--up_to_L) {
        content: "5";
      }
      @media (--L_and_up) {
        content: "6";
      }
    }
  }
}

#green-giants-2 {
  --color-text: var(--color-tungsten);
  --color-bg: var(--color-beige);

  grid-area: green-giants-2;
}

#warewolves-1 {
  --color-lead: var(--color-pale);
  --color-text: var(--color-greygreen);
  --color-bg: var(--color-blue);

  grid-area: warewolves-1;
  background-size: calc(440px * var(--bg-scale)) calc(814px * var(--bg-scale));
  @media (--XL_and_up) {
    background-position: top 50% right 180px;
  }

  @media (--up_to_M) {
    --bg-scale: .825;
  }
  @media (--M_to_L) {
    --bg-scale: .9;
  }

  & .glyph {
    left: -3rem;
  }

  & .wrap::after {
    content: "7";
    color: var(--color-yellow);
  }
}

#warewolves-2 {
  --color-text: var(--color-greygreen);
  --color-bg: var(--color-blue);

  grid-area: warewolves-2;
}

#ent-a-cops-1 {
  --color-lead: var(--color-yellow);
  --color-text: var(--color-greygreen);
  --color-bg: var(--color-blue);

  grid-area: ent-a-cops-1;

  & .glyph {
    left: -1rem;
  }

  & .wrap {
    background-position: 80% 100%;

    &::after {
      color: var(--color-yellow);

      @media (--up_to_L) {
        content: "9";
      }
      @media (--L_and_up) {
        content: "10";
      }
    }
  }
}

#ent-a-cops-2 {
  --color-text: var(--color-greygreen);
  --color-bg: var(--color-blue);

  grid-area: ent-a-cops-2;
}

#ampires-1 {
  --color-text: var(--color-darkgreen);
  --color-bg: var(--color-teal);

  grid-area: ampires-1;
  background-size: calc(440px * var(--bg-scale)) calc(814px * var(--bg-scale));
  background-position: 50%;
  @media (--XL_and_up) {
    background-position: top 50% right 180px;
  }

  @media (--up_to_M) {
    --bg-scale: .75;
  }

  & .glyph {
    left: -1rem;
  }

  & .wrap::after {
    content: "11";
    color: var(--color-darkgreen);
  }
}

#ampires-2 {
  --color-text: var(--color-darkgreen);
  --color-bg: var(--color-teal);

  grid-area: ampires-2;
}

#fiat-fairies-1 {
  --color-lead: var(--color-orange);
  --color-text: var(--color-darkgreen);
  --color-bg: var(--color-teal);

  grid-area: fiat-fairies-1;

  & .wrap {
    background-position: 80% 100%;

    &::after {
      color: var(--color-darkgreen);

      @media (--up_to_L) {
        content: "13";
      }
      @media (--L_and_up) {
        content: "14";
      }
    }
  }
}

#fiat-fairies-2 {
  --color-text: var(--color-darkgreen);
  --color-bg: var(--color-teal);

  grid-area: fiat-fairies-2;
}
