/* container for two page */
section {
  display: flex;
  width: 100vw;
  color: var(--color-text);
  background-color: var(--color-bg);

  @media (--up_to_L) {
    flex-wrap: wrap;
  }

  /* text page */
  & article {
    display: flex;
    height: 100vh;
    padding: var(--space-l);

    /* text container */
     & .wrap {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background-repeat: no-repeat;
      max-height: 1000px;

      /* page number, displayed via `content` */
      &::after {
        position: absolute;
        bottom: 3rem;
        left: 49%;
        font-family: var(--font-family-head);

        @media (--up_to_L) {
          display: none;
        }
      }
    }

    & .content {
      position: relative;
      background-repeat: no-repeat;
      max-width: 33rem;
    }

    & h2 {
      text-align: center;
      margin-bottom: var(--space-l);
      font-size: var(--font-size-head);

      & small {
        display: block;
        margin-bottom: .2rem;
        text-transform: uppercase;
        font-size: var(--font-size-subhead);
      }
    }

    & h2,
    & em {
      color: var(--color-lead);
    }

    & p {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: var(--space-l);
    }
  }

  /* image page */
  & figure {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: var(--space-l);

    & img {
      display: block;
      width: 100%;
      max-width: 800px;
    }
  }

  @media (--up_to_L) {
    & article,
    & figure {
      flex: 1 1 100%;
    }
  }

  @media (--L_and_up) {
    & article,
    & figure {
      flex: 1 1 50%;
    }

    &.content-content {
      & > article {
        &:first-child {
          justify-content: flex-end;
        }
        &:last-child {
          justify-content: flex-start;
        }
      }
    }

    &.content-figure {
      & > article {
        justify-content: flex-end;
      }
      & > figure {
        justify-content: flex-start;
      }
    }

    &.figure-content {
      & > figure {
        order: 1;
        justify-content: flex-end;
      }
      & > article {
        order: 2;
        justify-content: flex-start;
      }
    }
  }
}

#title,
#end {
  position: relative;
  overflow: hidden;

  & .bg {
    --width: 1830px;
    --height: 965px;
    width: var(--width);
    height: var(--height);
    position: absolute;
    z-index: 0;
    top: calc(50% - var(--height) / 2);
    left: calc(48% - var(--width) / 2);
    background-repeat: no-repeat;
    background-size: var(--width) var(--height);

    & .coin1 {
      position: absolute;
      left: 51%;
      top: 8%;
    }

    & .coin2 {
      position: absolute;
      left: 91.3%;
      top: 34%;
    }

    & .coin3 {
      position: absolute;
      left: 57%;
      top: 84%;
    }

    & .coin4 {
      position: absolute;
      left: 10%;
      top: 57%;
    }
  }

  & .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }

  & .title {
    font-size: var(--font-size-title);
    margin-top: var(--space-xxl);
    margin-bottom: var(--space-xxl);
  }

  & .title,
  & .volume {
    color: var(--color-pink);
    text-align: center;
  }

  & .prelude {
    color: var(--color-green);
    text-align: center;
  }

  & .volume,
  & .prelude {
    font-size: var(--font-size-subtitle);
    text-transform: uppercase;
  }
}

#introduction {
  --color-lead: var(--color-green);
  --color-text: var(--color-tungsten);
  --color-bg: var(--color-beige);

  padding-top: 120px;
  background-size: 43rem;
  background-position: 57% 0;

  & .wrap::after {
    content: "1";
    color: var(--color-mud);
  }
}

#meet-the-myths {
  --color-lead: var(--color-mud);
  --color-text: var(--color-mud);
  --color-bg: var(--color-beige);

  padding-top: 100px;
  text-align: center;
  line-height: 1.55;

  & h2,
  & a {
    font-size: var(--font-size-nav);
    font-family: var(--font-family-head);
    font-weight: var(--font-weight-medium);
  }

  & h2 {
    margin-bottom: 3rem;
  }

  & a {
    display: block;
    color: var(--color-text);

    &:hover,
    &:focus {
      color: var(--color-pink);
    }
  }
}

#scale-a-manders {
  --color-lead: var(--color-red);
  --color-text: var(--color-tungsten);
  --color-bg: var(--color-beige);

  & .wrap::after {
    content: "3";
    color: var(--color-green);
  }

  & .content {
    padding-top: 100px;
    background-size: 32rem;
    background-position: 33% 0;
  }
}

#green-giants {
  --color-lead: var(--color-pink);
  --color-text: var(--color-tungsten);
  --color-bg: var(--color-beige);

  & .wrap::after {
    content: "6";
    color: var(--color-blue);
  }

  & .content {
    padding-top: 120px;
    background-size: 20rem;
    background-position: 90% 0;
    max-width: 39rem;
  }
}

#warewolves {
  --color-lead: var(--color-pale);
  --color-text: var(--color-greygreen);
  --color-bg: var(--color-blue);

  & .wrap::after {
    content: "7";
    color: var(--color-yellow);
  }

  & .content {
    padding-top: 120px;
    background-size: 32rem;
    background-position: 33% 0;
  }
}

#ent-a-cops {
  --color-lead: var(--color-yellow);
  --color-text: var(--color-greygreen);
  --color-bg: var(--color-blue);

  & .wrap::after {
    content: "10";
    color: var(--color-yellow);
  }

  & .content {
    padding-top: 120px;
    padding-bottom: 120px;
    background-size: contain;
    background-position: 100%;
  }
}

#ampires {
  --color-lead: var(--color-pale);
  --color-text: var(--color-darkgreen);
  --color-bg: var(--color-teal);

  & .wrap::after {
    content: "11";
    color: var(--color-darkgreen);
  }

  & .content {
    padding-top: 120px;
    background-size: 32rem;
    background-position: 33% 0;
  }
}

#fiat-fairies {
  --color-lead: var(--color-orange);
  --color-text: var(--color-darkgreen);
  --color-bg: var(--color-teal);

  & .wrap::after {
    content: "14";
    color: var(--color-darkgreen);
  }

  & .content {
    padding-top: 120px;
    background-size: 32rem;
    background-position: 33% 0;
  }
}

#end {
  background-color: var(--color-evergreen);
}
