/* container for two page */
section {
  display: flex;
  width: 100vw;
  color: var(--color-text);
  background-color: var(--color-bg);

  @media (--up_to_L) {
    flex-wrap: wrap;
  }

  /* text page */
  & article {
    display: flex;
    min-height: 100vh;
    align-items: center;
    background-position: 50%;
    background-repeat: no-repeat;

    /* text container */
     & .wrap {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      max-height: 1000px;
      padding: var(--space-l);
      background-repeat: no-repeat;

      /* page number, displayed via `content` */
      &::after {
        position: absolute;
        bottom: -6rem;
        left: 49%;
        font-family: var(--font-family-head);
      }
    }

    & .content {
      position: relative;
      background-repeat: no-repeat;
      max-width: 33rem;
    }

    & .glyph {
      position: relative;
      display: block;
      margin: 0 auto var(--space-l);
    }

    & h2 {
      text-align: center;
      margin-bottom: var(--space-l);
      font-size: var(--font-size-head);

      & small {
        display: block;
        margin-bottom: .2rem;
        text-transform: uppercase;
        font-size: var(--font-size-subhead);
      }
    }

    & h2,
    & em {
      color: var(--color-lead);
    }

    & p {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: var(--space-l);
    }
  }

  /* image page */
  & figure {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: var(--space-l);

    & img {
      display: block;
      max-width: 95%;
      max-height: 95%;
    }
  }

  @media (--up_to_L) {
    & article,
    & figure {
      flex: 1 1 100%;
      align-items: center;
      justify-content: center;
    }
  }

  @media (--L_and_up) {
    & article,
    & figure {
      flex: 1 1 50%;
    }

    &.content-content {
      & > article {
        &:first-child {
          justify-content: flex-end;
        }
        &:last-child {
          justify-content: flex-start;
        }
      }
    }

    &.content-figure {
      & > article {
        justify-content: flex-end;
      }
      & > figure {
        justify-content: flex-start;
      }
    }

    &.figure-content {
      & > figure {
        order: 1;
        justify-content: flex-end;
      }
      & > article {
        order: 2;
        justify-content: flex-start;
      }
    }
  }
}

#title,
#end {
  position: relative;
  overflow: hidden;

  & .bg {
    @media (--up_to_M) {
      --scale: .5;
    }
    @media (--M_to_L) {
      --scale: 1;
    }
    @media (--L_and_up) {
      --scale: 1;
    }

    --bg-w: calc(1830px * var(--scale));
    --bg-h: calc(965px * var(--scale));
    width: var(--bg-w);
    height: var(--bg-h);
    position: absolute;
    z-index: 0;
    top: calc(50% - var(--bg-h) / 2);
    left: calc(48% - var(--bg-w) / 2);
    background-size: var(--bg-w) var(--bg-h);
    background-repeat: no-repeat;

    & .coin1,
    & .coin2,
    & .coin3,
    & .coin4 {
      position: absolute;
      width: calc(54px * var(--scale));
      height: calc(51px * var(--scale));
    }

    & .coin1 {
      left: 51%;
      top: 8%;
    }

    & .coin2 {
      left: 91.3%;
      top: 34%;
    }

    & .coin3 {
      left: 57%;
      top: 84%;
    }

    & .coin4 {
      left: 10%;
      top: 57%;
    }
  }

  & .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }

  & .title {
    font-size: var(--font-size-title);

    @media (--up_to_M) {
      margin: var(--space-xl) 0;
    }
    @media (--M_to_L) {
      margin: var(--space-xl) 0;
    }
    @media (--L_and_up) {
      margin: var(--space-xxl) 0;
    }
  }

  & .title,
  & .volume {
    color: var(--color-pink);
    text-align: center;
  }

  & .prelude {
    color: var(--color-green);
    text-align: center;

    @media (--up_to_M) {
      margin-top: var(--space-xl);
    }
  }

  & .volume,
  & .prelude {
    font-size: var(--font-size-subtitle);
    text-transform: uppercase;
    line-height: 1.4;
  }
}

#introduction {
  --color-lead: var(--color-green);
  --color-text: var(--color-tungsten);
  --color-bg: var(--color-beige);

  background-position: 67% 90%;

  & .glyph {
    width: 2.5rem;
  }

  & .wrap {
    background-position: 50% 1%, 50% 63%;
  }

  & .wrap::after {
    content: "1";
    color: var(--color-mud);
  }
}

#meet-the-myths {
  --color-lead: var(--color-mud);
  --color-text: var(--color-mud);
  --color-bg: var(--color-beige);

  background-position: 65% 55%;
  padding-top: 100px;
  text-align: center;
  line-height: 1.55;

  & h2,
  & a {
    font-size: var(--font-size-nav);
    font-family: var(--font-family-head);
    font-weight: var(--font-weight-medium);
  }

  & h2 {
    margin-bottom: 3rem;
  }

  & a {
    display: block;
    color: var(--color-text);

    &:hover,
    &:focus {
      color: var(--color-pink);
    }
  }
}

#scale-a-manders {
  --color-lead: var(--color-red);
  --color-text: var(--color-tungsten);
  --color-bg: var(--color-beige);

  & article{
    background-position: 33% 50%;
  }

  & .wrap::after {
    content: "3";
    color: var(--color-green);
  }
}

#green-giants {
  --color-lead: var(--color-pink);
  --color-text: var(--color-tungsten);
  --color-bg: var(--color-beige);

  & article {
    background-position: 90% 20%;
  }

  & .content {
    max-width: 39rem;
  }

  & .wrap::after {
    color: var(--color-blue);

    @media (--up_to_L) {
      content: "5";
    }
    @media (--L_and_up) {
      content: "6";
    }
  }
}

#warewolves {
  --color-lead: var(--color-pale);
  --color-text: var(--color-greygreen);
  --color-bg: var(--color-blue);

  & article {
    background-position: 50% 50%;
  }

  & .glyph {
    left: -3rem;
  }

  & .wrap::after {
    content: "7";
    color: var(--color-yellow);
  }
}

#ent-a-cops {
  --color-lead: var(--color-yellow);
  --color-text: var(--color-greygreen);
  --color-bg: var(--color-blue);

  & article {
    background-position: 75% 85%;
  }

  & .glyph {
    left: -1rem;
  }

  & .wrap::after {
    color: var(--color-yellow);

    @media (--up_to_L) {
      content: "9";
    }
    @media (--L_and_up) {
      content: "10";
    }
  }
}

#ampires {
  --color-lead: var(--color-pale);
  --color-text: var(--color-darkgreen);
  --color-bg: var(--color-teal);

  & article {
    background-position: 50%;
    margin-bottom: 3rem;
  }

  & .glyph {
    left: -1rem;
  }

  & .wrap::after {
    content: "11";
    color: var(--color-darkgreen);
  }
}

#fiat-fairies {
  --color-lead: var(--color-orange);
  --color-text: var(--color-darkgreen);
  --color-bg: var(--color-teal);

  & article{
    background-position: 75% 85%;
  }

  & .wrap::after {
    color: var(--color-darkgreen);

    @media (--up_to_L) {
      content: "13";
    }
    @media (--L_and_up) {
      content: "14";
    }
  }
}

#end {
  background-color: var(--color-evergreen);
}
