@import '../common.css';

main {
  --color-white: #fff;
  --color-pale: #ECE8D8;
  --color-beige: #E4D7BD;
  --color-pink: #F54073;
  --color-green: #13514C;
  --color-cream: #FFC48E;
  --color-yellow: #EDB64C;
  --color-orange: #FF7659;
  --color-blue: #386475;
  --color-greygreen: #CCD0A5;
  --color-greyish: #BFCDBA;
  --color-teal: #749386;
  --color-tungsten: #311F28;
  --color-evergreen: #0E2B28;

  --color-body-text: var(--color-tungsten);
  --color-body-bg: var(--color-beige);

  @media (--up_to_L) {
    grid-template-areas:
      "title"
      "intro-1"
      "intro-2"
      "hackersaurus-rex-1"
      "hackersaurus-rex-2"
      "hedgefundhog-1"
      "hedgefundhog-2"
      "scamera-1"
      "scamera-2"
      "iron-legislator-1"
      "iron-legislator-2"
      "mount-inaccessible-1"
      "mount-inaccessible-2"
      "terrible-hiding-spot-1"
      "terrible-hiding-spot-2"
      "end";
  }
  @media (--L_and_up) {
    grid-template-areas:
      "title title"
      "intro-1 intro-2"
      "hackersaurus-rex-1 hackersaurus-rex-2"
      "hedgefundhog-2 hedgefundhog-1"
      "scamera-1 scamera-2"
      "iron-legislator-2 iron-legislator-1"
      "mount-inaccessible-1 mount-inaccessible-2"
      "terrible-hiding-spot-2 terrible-hiding-spot-1"
      "end end";
  }
}

#title,
#end {
  & .bg {
    & .coin1,
    & .coin2,
    & .coin3,
    & .coin4 {
      position: absolute;
      width: calc(54px * var(--scale));
      height: calc(54px * var(--scale));
    }

    & .coin1 {
      left: 51%;
      top: 8%;
    }

    & .coin2 {
      left: 91.3%;
      top: 34%;
    }

    & .coin3 {
      left: 57%;
      top: 84%;
    }

    & .coin4 {
      left: 10%;
      top: 57%;
    }
  }
}

#title {
  --color-bg: #E4D7BD;
  --color-text: #272727;
  --color-nav: var(--color-pink);
  --color-lead: var(--color-pink);

  grid-area: title;

  @media (--up_to_L) {
    min-height: 82.5vh;
  }
  @media (--L_and_up) {
    min-height: 100vh;
  }
}

#end {
  --color-bg: #ECE8D8;
  --color-text: #272727;
  --color-nav: var(--color-beige);
  --color-lead: var(--color-green);

  grid-area: end;
}

#intro-1 {
  --color-lead: var(--color-yellow);
  --color-text: var(--color-pale);
  --color-bg: var(--color-green);

  grid-area: intro-1;
  background-position: 67% 90%;

  & .glyph {
    width: 2.5rem;
  }

  & .wrap {
    background-position: 49% 2%, 50% 63%;
    background-size: calc(826px * var(--bg-scale)) calc(151px * var(--bg-scale)),  calc(853px * var(--bg-scale)) calc(167px * var(--bg-scale));
  }
}

#intro-2 {
  --color-lead: var(--color-mud);
  --color-text: var(--color-cream);
  --color-bg: var(--color-green);

  grid-area: intro-2;
  background-size: calc(790px * var(--bg-scale)) calc(774px * var(--bg-scale));
  background-position: 45% 65%;
  @media (--XL_and_up) {
    background-position: 15px 65%;
  }

  & .wrap {
    padding-left: var(--space-l);
    padding-right: var(--space-l);
  }

  & .content {
    padding-top: 3rem;
    text-align: center;
    line-height: 1.55;

    & h2,
    & a {
      font-size: var(--font-size-nav);
      font-family: var(--font-family-head);
      font-weight: var(--font-weight-medium);
    }

    & h2 {
      margin-bottom: 3rem;
    }

    & a {
      display: block;
      color: var(--color-text);

      &:hover,
      &:focus {
        color: var(--color-orange);
      }
    }
  }
}

#hackersaurus-rex-1 {
  --color-lead: #F75D3D;
  --color-text: #B4BBBD;
  --color-bg: #272727;

  grid-area: hackersaurus-rex-1;

  & .wrap {
    background-position: 85% 0;
  }
}

#hackersaurus-rex-2 {
  --color-text: #B4BBBD;
  --color-bg: #272727;

  grid-area: hackersaurus-rex-2;
}

#hedgefundhog-1 {
  --color-lead: #13514C;
  --color-text: #262E2E;
  --color-bg: #CEB776;

  grid-area: hedgefundhog-1;
  background-size: calc(722px * var(--bg-scale)) calc(606px * var(--bg-scale));
  background-position: 50% 50%;
  @media (--XL_and_up) {
    background-position: top 50% right 50px;
  }

  @media (--up_to_M) {
    --bg-scale: .825;
  }
  @media (--M_to_L) {
    --bg-scale: .9;
  }
}

#hedgefundhog-2 {
  --color-text: #262E2E;
  --color-bg: #CEB776;

  grid-area: hedgefundhog-2;
}

#scamera-1 {
  --color-lead: #FFDD8E;
  --color-text: #F5E7CC;
  --color-bg: #5B574D;

  grid-area: scamera-1;
  background-size: calc(440px * var(--bg-scale)) calc(814px * var(--bg-scale));
  @media (--L_to_XL) {
    background-position: top 50% left 35%;
  }
  @media (--XL_and_up) {
    background-position: top 50% right 180px;
  }

  @media (--up_to_M) {
    --bg-scale: .825;
  }
  @media (--M_to_L) {
    --bg-scale: .9;
  }

  & .glyph {
    left: -3rem;
  }
}

#scamera-2 {
  --color-text: #F5E7CC;
  --color-bg: #5B574D;

  grid-area: scamera-2;
}

#iron-legislator-1 {
  --color-lead: #E58918;
  --color-text: #F8E1B0;
  --color-bg: #312D25;

  grid-area: iron-legislator-1;

  & .glyph {
    left: -1rem;
  }

  & .wrap {
    background-position: 80% 100%;
  }
}

#iron-legislator-2 {
  --color-text: #F8E1B0;
  --color-bg: #312D25;

  grid-area: iron-legislator-2;
}

#mount-inaccessible-1 {
  --color-lead: #292320;
  --color-text: #0B0B0A;
  --color-bg: #9D9680;

  grid-area: mount-inaccessible-1;
  background-size: calc(440px * var(--bg-scale)) calc(814px * var(--bg-scale));
  background-position: 50%;
  @media (--XL_and_up) {
    background-position: top 50% right 180px;
  }

  @media (--up_to_M) {
    --bg-scale: .75;
  }

  & .glyph {
    left: -1rem;
  }
}

#mount-inaccessible-2 {
  --color-text: #0B0B0A;
  --color-bg: #9D9680;

  grid-area: mount-inaccessible-2;
}

#terrible-hiding-spot-1 {
  --color-lead: #E8FFB6;
  --color-text: #E0FFE9;
  --color-bg: #3D555B;

  grid-area: terrible-hiding-spot-1;

  & .wrap {
    background-position: 80% 100%;
  }
}

#terrible-hiding-spot-2 {
  --color-text: #E0FFE9;
  --color-bg: #3D555B;

  grid-area: terrible-hiding-spot-2;
}
